# General
.DS_Store
.env
*.db
*.log

# Backend
backend/venv/
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/

# Mobile
mobile/node_modules/
mobile/ios/Pods/
mobile/ios/build/
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/.expo/

# Firmware
firmware/.pio/
firmware/.vscode/
